@charset "UTF-8";
body{
    background-image: url(../img/mode.jpg);
    background-size:100%;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ffffffcc;
}

.online{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: #f47777;
    background-color: #f56e6e;
    margin: 20px;
    font-size: 40px;
    margin-right: 650px;
    padding: 50px 20px;
    text-align: center;
    cursor: pointer;
}
.solo{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: #a3c0ff;
    background-color: #7d9fe9;
    margin: 20px;
    font-size: 40px;
    padding: 50px 70px;
    text-align: center;
    cursor: pointer;
}
.profile{
    margin:10px 0px 0px 800px;
    font-size: 10px;
    padding: 10px 10px;
    text-align: right;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}







