@charset "UTF-8";
body{
    background-image: url(../img/result.jpg);
    background-size: 100%;
}
.restext{
    margin-top: 0px;
    text-align: center;
    font-size: 110px;
}
.result{
    display: flex;
    margin-top: 110px;
    margin-left: 450px;
    padding: 0px 0px 0px 0px;
}
.score {
    text-align: left;
    font-size: 30px;
    padding: 0px 150px 0px 350px;

}
.number{
    text-align: right;
    font-size: 30px;
    padding: 0px 0px 0px 200px;
}
.top{
    margin: 0px 0px  30px 10px;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 50px;
    margin-left: 600px;
    text-align: center;
    cursor: pointer;
}