@charset "UTF-8";
body{
    background-image: url(../img/rode.jpg);
    background-size:100%;
   } 


h1 {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    color: #4b4343;
    margin: 5px;
    font-size: 100px;
    padding: 90px 75px 0px 15px;
    text-align: center;
    cursor: pointer;
}