@charset "UTF-8";
body{
    background-image: url(../img/rode.jpg);
    background-size:100%;
   } 

p {
    margin: 10px;
    font-size: 40px;
   padding: 125px 0px 0px 50px;
   text-align: left;
   cursor: pointer;
}

h1 {
    margin: 5px;
    font-size: 100px;
    padding: 200px 75px 0px 15px;
    text-align: center;
    cursor: pointer;
}