@import url(../sanitize.css);
body{
    background-image: url(../img/welcomenull.jpg);
    background-size:100%;
}
.tatle{
font-size: 150px;
color:honeydew;
-webkit-text-stroke: 6px #148f37;
font-family:  "ヒラギノ角ゴ ProN W3", sans-serif;
margin: 10px auto auto auto;
transform: rotate(-10deg);
}
br {
    display: block;
    content: "";
    margin: -40px 0;
    }
div.content{
    font-size: 60px;
    margin: 20px auto auto auto;
    text-align: center;
}
button{
    font-size: 90%;
    color:#4a9760;
    border: 10px solid #62a776;
    background-color: #f8f6e4;
    width:15%;
    padding: 10px;
    text-align: center;
}