@import url(../sanitize.css);
body{
    background-image: url(../img/newwelcome.jpg);
    background-size:100%;
}

div.content{
    font-size: 60px;
    margin: 380px auto auto auto;
    text-align: center;
}
button{
    font-size: 90%;
    width:15%;
    padding: 10px;
    text-align: center;
}