@import url(../sanitize.css);
body{
    background-image: url(../img/nikaidoyama.jpg);
    background-size:100%;
}
h1{
margin-left:  35px;
font-size: 25px;
color:honeydew;
-webkit-text-stroke: 1px #148f37;
font-family:  "ヒラギノ角ゴ ProN W3", sans-serif;
}

.tatle{
    font-size: 20px;
    margin-left:  50px;
}


button{
    margin-left: 90px;
    font-size: 10px;
    color:#4a9760;
    border: 5px solid #62a776;
    background-color: #f8f6e4;
    width:100px;
    height: 35px;

}
.content{
    margin-top: 25px;
}
.yamanoi{
    display: flex;
    font-size: 20px;
    margin-left:  70px;
}
.level{
    margin-right: 30px;
}

