@import url(../sanitize.css);
body{
    background-image: url(../img/nikaidoyama.jpg);
    background-size:100%;
}
h1{
font-size: 25px;
color:honeydew;
-webkit-text-stroke: 1px #148f37;
font-family:  "ヒラギノ角ゴ ProN W3", sans-serif;

}

h2{
    font-size: 20px;
    margin:  1px;

}
button{
    font-size: 10px;
    color:#4a9760;
    border: 5px solid #62a776;
    background-color: #f8f6e4;
    width:60px;

    text-align: center;
}